[Desktop Entry]
Name=MoeInstaller
Name[jp]=萌え化インストーラ
Comment=萌え化インストール
Exec=bash ./mm_pkginst.sh
Terminal=false
Type=Application
Icon=video-display
StartupNotify=true
Categories=System;Settings;
